*.o
*.dSYM
.DS_Store
__pycache__
.venv
.matplotlib-cache

PAGE/page
PAGE/page.exe
PAGE/page.out
PAGE/page_py.out
PAGE/adjacency_lists/rome-graphml.tgz

MultiGenus/multi_genus
MultiGenus/planar_draw

genus_properties
