*.o
*.dSYM
.DS_Store
__pycache__
.venv
.matplotlib-cache
*.egg-info
dist

PAGE/page
PAGE/page.exe
PAGE/page.out
PAGE/page_py.out
PAGE/adjacency_lists/rome-graphml.tgz

MultiGenus/multi_genus
MultiGenus/planar_draw
MultiGenus/multi_genus.exe
MultiGenus/planar_draw.exe
MultiGenus/multi_genus_parallel
MultiGenus/multi_genus_parallel.exe

python-3.8.6-embed-amd64
